body {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

/* Grille pour le gabarit de mise en page */
.ctnGrille {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media screen and (min-width: 600px) {

    .ctnGrille {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "a a a a a a a a a a a a"
            ". b b b c c c c c c c ."
            "d d d d d d d d d d d d";
        gap: 2rem;
    }

    header {
        grid-area: a;
    }

    aside,
    blockquote {
        grid-area: b;
        background-color: var(--couleur-form);
        padding: 0 1rem;
    }


    main {
        grid-area: c;
    }

    footer {
        grid-area: d;
    }
}